.rebusTemplate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .img {
    margin-bottom: 32px;
    border-radius: 8px;
    object-fit: contain;
  }

  .areaGroup {
    margin-bottom: 32px;
  }

  .group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .btn {
    margin: 0 4px 4px;
  }

  .emptyBtn {
    background-color: #EAEFFC;
  }

  $btnSize: 47px;
  $btnSizeCoef: 1.2;
  $btnAreaPadding: 8;
  $btnBorderRadius: 16px;

  .area {
    display: flex;
    border: #D2DAE1 1px solid;
    justify-content: center;
    align-items: center;
    margin: 0 2px 4px;
    width: $btnSize * $btnSizeCoef + $btnAreaPadding * $btnSizeCoef;
    height: $btnSize * $btnSizeCoef + $btnAreaPadding * $btnSizeCoef;
    border-radius: $btnBorderRadius + $btnAreaPadding * $btnSizeCoef * 0.5;

    &-empty {
      background-color: #F0F2F6;
    }
  }

  @keyframes ani {
    0% {
      opacity: 0;
      transform: translateY(-72px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  @keyframes ani2 {
    0% {
      opacity: 0;
      scale: 0;
    }
    100% {
      opacity: 1;
      scale: 1;
    }
  }

  .anim-image {
    opacity: 0;
    transform: translateY(-72px);
    animation: ani 0.5s forwards;
  }

  .anim-image2 {
    opacity: 0;
    scale: 0;
    animation: ani2 0.5s forwards;
  }
}


