.bottomPanelWrapper {
  // width: 500px;
  position: absolute;
  bottom: 0;
  z-index: 300;
  height: 64px;
  width: 100%;
}

.bottomPanel {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 0px 16px;
  margin-bottom: 0;
  flex-wrap: nowrap;
  justify-content: space-between;
}